.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer{
	background-color:#9BCDFF;
}

.light-blue{
	background-color:#9BCDFF !important;
	
}

.light-blue li{
	list-style-type:none !important;
}

ul li{
	list-style-type:circle !important;
	margin-left:20px;
}

.red-text{
	color:#c93c6e !important;
}

.logo{
	padding-top: 15px;
}

.images{
	opacity:1.0;
	width:100%;
	max-width:300px;
}
.images:hover{
	opacity:0.7;
}

figure{
	float:right;
	margin-top:0px;
	margin-right: 100px;
}

h2{
	color:#FEAC00;
	font-size:3.2rem;
}

h3{
	color:#FEAC00;
	font-size:2.2rem;

}

a:hover{
	color:#ADD2E4;
}




