/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer{
	background-color:#B7E0F3;
}

.light-blue{
	background-color:#B7E0F3 !important;
}

.red-text{
	color:#BE0503 !important;
}

h2{
	color:#FEAC00;
	font-size:3.2rem;
}

h3{
	color:#FEAC00;
	font-size:2.5rem;

}

a:hover{
	color:#ADD2E4;
}

